.header
	ul
		li
			a(href='/')
				button#headerButton Home
		li
			a(href='/tickets')
				button#headerButton All tickets
		li
			a(href='/add')
				button#headerButton Add Ticket
		li
			a(href='/login')
				button#headerButton Login
